# Required for running the main application
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/todo_app

# Required for running the test suite
MONGODB_TEST_URI=mongodb+srv://username:password@cluster.mongodb.net/todo_app_test

# The port the HTTP server will bind to (optional, defaults to 3000)
PORT=3000